@font-face {
    font-family: iranyekan ;
    font-style: normal;
    src: url("../font/iranyekanwebbold(fanum).woff");
    font-weight: bold;
}

@font-face {
    font-family: iranyekan ;
    font-style: normal;
    src: url("../font/iranyekanwebregular(fanum).woff");
    font-weight: normal;
}

@font-face {
    font-family: iranyekan ;
    font-style: normal;
    src: url("../font/iranyekanweblight(fanum).woff");
    font-weight: 100;
}




@font-face {
  font-family: 'Arial Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../font/ARIAL.woff");
}
